html {
    color: #f0f0f0;
    background-color: #303030;
    font-family: sans-serif;
}

a {
    color: slategray;
}

a:visited {
    color: gray;
}

p {
    font-size: 1.25em;
}

ul,ol {
    font-size: 1.25em;
}

li {
    margin-bottom: 5px;
    width: 75vw;
}

img {
    margin-top: 5px;
    border-radius: 6px;
}
